/* Estilo común a todas las zonas */

body {
    font-family: Geneva;
    color: #a00e2a;
    background-color: #6d6d6d;
    margin-top: 5px;
    margin-right: 12px;
    margin-bottom: 5px;
    margin-left: 12px;
}

/* Estilo específico de cada zona */

#titulo {
    text-align: center;
    background-color: #6d6d6d;
    margin-top: 10px;     
}

#principal {
    background-color: #bcbcbc;
}

#bienvenida {
    text-align: center;
    margin-top: 24px;
    font-size: 18pt;
    font-weight: bold;
}

#bienvenida img {
    margin-top: 24px;
}

#en_construccion {
    background-color: #bcbcbc;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#en_construccion img {
    margin-bottom: 20px;
}

#enlaces, #defecto, #menu {
    margin-top: 30px;
    background-color: #a90020;
    color: #6d6d6d;
}

#enlaces {
    text-align: center;
}

#menu img {
    border: 0;
    height: 26px;
    width: 26px;
}

a {
    color: #6b6b6b;
    text-align: middle;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 30px;
}

